<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <h2>
        {{'REGISTRATIONS.STUDENT' | translate}}: {{student.name}} {{student.surname}}
      </h2>
      <p>
          <mat-form-field appearance="fill">
              <mat-label>{{'REGISTRATIONS.COURSE' | translate}}</mat-label>
              <mat-select formControlName="courseRegistrationDto">
                  <mat-option *ngFor="let c of course" [value]="c.id">
                      {{c.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </p>

      <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close>{{'REGISTRATIONS.BACK' | translate}}</button>
        <button mat-raised-button color="primary" class="form" type="submit">{{'REGISTRATIONS.SAVE' | translate}}</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>
