<mat-dialog-content class="mat-typography">
  <div id="title">
    <h1 *ngIf="isNew==true">{{'FORM.PROFESSOR-ADD' | translate}}</h1>
    <h1 *ngIf="isNew==false">{{'FORM.PROFESSOR-MODIFY' | translate}}</h1>
  </div>
  <form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.NAME-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.NAME-PLACEHOLDER' | translate}}" formControlName="name">
              <mat-error *ngIf="hasError('name', 'required')">{{'PROFESSOR-FORM.NAME-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('name', 'maxlength')">{{'PROFESSOR-FORM.NAME-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.SURNAME-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.SURNAME-PLACEHOLDER' | translate}}" formControlName="surname">
              <mat-error *ngIf="hasError('surname', 'required')">{{'PROFESSOR-FORM.SURNAME-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('surname', 'maxlength')">{{'PROFESSOR-FORM.SURNAME-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.DATE-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.DATE-LABEL' | translate}}" formControlName="birthdayDate">
              <mat-hint>yyyy-mm-dd</mat-hint>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.CITY-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.CITY-PLACEHOLDER' | translate}}" formControlName="city">
              <mat-error *ngIf="hasError('city', 'required')">{{'PROFESSOR-FORM.CITY-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('city', 'maxlength')">{{'PROFESSOR-FORM.CITY-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.CAP-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.CAP-PLACEHOLDER' | translate}}" formControlName="cap">
              <mat-error *ngIf="hasError('cap', 'required')">{{'PROFESSOR-FORM.CAP-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('cap', 'maxlength')">{{'PROFESSOR-FORM.CAP-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.ADDRESS-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.ADDRESS-PLACEHOLDER' | translate}}" formControlName="address">
              <mat-error *ngIf="hasError('address', 'required')">{{'PROFESSOR-FORM.ADDRESS-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('address', 'maxlength')">{{'PROFESSOR-FORM.ADDRESS-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.HOUSENUMBER-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.HOUSENUMBER-PLACEHOLDER' | translate}}" formControlName="houseNumber">
              <mat-error *ngIf="hasError('houseNumber', 'required')">{{'PROFESSOR-FORM.HOUSENUMBER-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('houseNumber', 'maxlength')">{{'PROFESSOR-FORM.HOUSENUMBER-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.CODE-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.CODE-PLACEHOLDER' | translate}}" formControlName="fiscalCode">
              <mat-error *ngIf="hasError('fiscalCode', 'required')">{{'PROFESSOR-FORM.CODE-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('fiscalCode', 'maxlength')">{{'PROFESSOR-FORM.CODE-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field appearance="outline">
              <mat-label>{{'PROFESSOR-FORM.NUMBER-LABEL' | translate}}</mat-label>
              <input matInput placeholder="{{'PROFESSOR-FORM.NUMBER-PLACEHOLDER' | translate}}" formControlName="number">
              <mat-error *ngIf="hasError('number', 'required')">{{'PROFESSOR-FORM.NUMBER-REQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="hasError('number', 'maxlength')">{{'PROFESSOR-FORM.NUMBER-LENGTH' | translate}}</mat-error>
          </mat-form-field>
      </p>

      <mat-dialog-actions align="center">
        <button mat-raised-button mat-dialog-close>{{'PROFESSOR-FORM.BACK' | translate}}</button>
        <button mat-raised-button color="primary" class="form" type="submit">{{'PROFESSOR-FORM.SAVE' | translate}}</button>
      </mat-dialog-actions>
  </form>
</mat-dialog-content>
