<p>
  <mat-toolbar color="primary">
    <span>My App</span>
      <!-- <button mat-button routerLink="/view1" routerLinkActive="active-link">View1</button>
      <button mat-button routerLink="/view2" routerLinkActive="active-link">View2</button> -->
      <button mat-button routerLink="/studente" routerLinkActive="active-link">Studenti</button>
      <button mat-button routerLink="/professore" routerLinkActive="active-link">Professori</button>
      <button mat-button routerLink="/corso" routerLinkActive="active-link">Corsi</button>
    </mat-toolbar>
</p>