<div id="title">
  <h1 *ngIf="isNew==true">{{'FORM.COURSE-ADD' | translate}}</h1>
  <h1 *ngIf="isNew==false">{{'FORM.COURSE-MODIFY' | translate}} {{id}}</h1>
</div>
<form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit($event)">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>{{'COURSE-FORM.NAME-LABEL' | translate}}</mat-label>
            <input matInput placeholder="{{'COURSE-FORM.NAME-PLACEHOLDER' | translate}}" formControlName="name">
            <mat-error *ngIf="hasError('name', 'required')">{{'COURSE-FORM.NAME-REQUIRED' | translate}}</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">{{'COURSE-FORM.NAME-LENGTH' | translate}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>{{'COURSE-FORM.DESCRIPTION-LABEL' | translate}}</mat-label>
            <input matInput placeholder="{{'COURSE-FORM.DESCRIPTION-PLACEHOLDER' | translate}}" formControlName="description">
            <mat-error *ngIf="hasError('description', 'required')">{{'COURSE-FORM.DESCRIPTION-REQUIRED' | translate}}</mat-error>
            <mat-error *ngIf="hasError('description', 'maxlength')">{{'COURSE-FORM.DESCRIPTION-LENGTH' | translate}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>{{'COURSE-FORM.PROFESSOR-LABEL' | translate}}</mat-label>
            <mat-select formControlName="professor">
                <mat-option *ngFor="let p of professor" [value]="p.id">
                    {{p.name}} {{p.surname}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>{{'COURSE-FORM.BEGIN-LABEL' | translate}}</mat-label>
            <input matInput placeholder="{{'COURSE-FORM.BEGIN-PLACEHOLDER' | translate}}" formControlName="startDate">
            <mat-hint>yyyy-mm-dd</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>{{'COURSE-FORM.END-LABEL' | translate}}</mat-label>
            <input matInput placeholder="{{'COURSE-FORM.END-PLACEHOLDER' | translate}}" formControlName="endDate">
            <mat-hint>yyyy-mm-dd</mat-hint>
        </mat-form-field>
    </p>

    <button mat-raised-button (click)="clickEvent($event)">{{'COURSE-FORM.BACK' | translate}}</button>
    <button mat-raised-button color="primary" class="form" type="submit">{{'COURSE-FORM.SAVE' | translate}}</button>
</form>
