<div id="title">
  <h1 *ngIf="isNew==true">Aggiungi un nuovo corso</h1>
  <h1 *ngIf="isNew==false">Modifica il corso {{id}}</h1>
</div>
<form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit($event)">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Inserisci il nome del corso" formControlName="name">
            <mat-error *ngIf="hasError('name', 'required')">Il nome del corso è richiesto</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">Hai inserito più di 100 caratteri</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Descrizione</mat-label>
            <input matInput placeholder="Inserisci una descrizione del corso" formControlName="description">
            <mat-error *ngIf="hasError('description', 'required')">La descrizione del corso è richiesta</mat-error>
            <mat-error *ngIf="hasError('description', 'maxlength')">Hai inserito più di 200 caratteri</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Docente</mat-label>
            <mat-select formControlName="professor">
                <mat-option *ngFor="let p of professor" [value]="p.id">
                    {{p.name}} {{p.surname}}
                </mat-option>
            </mat-select>
            <!-- <input matInput placeholder="Inserisci il docente che terrà il corso" formControlName="professor"> -->
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Data di inizio corso</mat-label>
            <input matInput placeholder="Inserisci la data di inizio del corso" formControlName="startDate">
            <mat-hint>yyyy-mm-dd</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Data di fine corso</mat-label>
            <input matInput placeholder="Inserisci la data di fine del corso" formControlName="endDate">
            <mat-hint>yyyy-mm-dd</mat-hint>
        </mat-form-field>
    </p>

    <button mat-raised-button (click)="clickEvent($event)">Indietro</button>
    <button mat-raised-button color="primary" class="form" type="submit">Salva corso</button>
</form>
