<div>
    <mat-form-field>
        <input matInput type="search" placeholder="Filter" >
    </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="studente">
        <th mat-header-cell *matHeaderCellDef> Studente </th>
        <td mat-cell *matCellDef="let element"> {{element.studentDto.name}} {{element.studentDto.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="corso">
        <th mat-header-cell *matHeaderCellDef> Corso </th>
        <td mat-cell *matCellDef="let element"> {{element.data.courseRegistrationDto.courseDto.name}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data di iscrizione </th>
        <td mat-cell *matCellDef="let element"> {{element.data.courseRegistrationDto.createdDate}} </td>
    </ng-container>

    <ng-container matColumnDef="rimuovi">
        <th mat-header-cell *matHeaderCellDef> Rimuovi </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="warn" >
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-fab id="add" color="primary"  routerLink="/registration-form" routerLinkActive="active-link">
    <mat-icon>add_circle</mat-icon>
</button>
