<form class="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <h2>
        Professore: {{professor.name}} {{professor.surname}}
    </h2>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Corso</mat-label>
            <mat-select formControlName="courses">
                <mat-option *ngFor="let c of course" [value]="c.id">
                    {{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <button mat-raised-button color="primary" class="form" type="submit">Salva registrazione</button>
</form>
